.loaderWrapper {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.logo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.loaderText {
    font-size: 1.5rem;
    font-family: "Poppins";
}